.list
    &-container
        display: flex
        flex-wrap: nowrap
        flex-direction: column
        height: 100vh
        overflow: scroll
        &__title
            margin: 0 0 20px 0
        &__sort
            position: relative
            width: max-content